<main>
  <h1 class="page-title">My Blog</h1>

  <!-- Add Post Component -->
  <form class="form card" onsubmit={{action "createPost"}}>
    <h3 class="form__title">New Blog Post</h3>
    <div class="form__group">
      <label class="form__label" for="post-title">Title</label>
      {{input value=newPostTitle class="form__input" id="post-title"}}
    </div>
    <div class="form__group">
      <label class="form__label" for="post-body">Body</label>
      {{textarea value=newPostBody class="form__input" id="post-body" rows="10"}}
    </div>
    <div class="form__controls">
      <button {{action "createPost"}}>Create Post</button>
    </div>
  </form>

  <!-- List of posts -->
  {{#each posts as |post|}}
    <div class="post card">
      <h3 class="post__title">{{post.title}}</h3>
      <div class="post__text">
        {{post.body}}
      </div>
      <div class="post__controls">
        <button {{action "deletePost" post}}>Delete Post</button>
      </div>
    </div>
  {{/each}}
</main>